@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --black-background: #222323;
    --red-background: #e90303;
    --white-text: #fff;
}

/* Lilya CSS Header section*/
header {
    font-family: 'PT Sans', sans-serif;
}

.top-header {
    display: flex;
    flex-direction: raw;
    align-items: center;
    height: 48px;
    background: var(--red-background);
    font-size: 14px;
    font-weight: bold;
    color: var(--white-text);
}

.header-text {
    margin-left: 175px;
}

.header-contacts{
    margin-left: 635px;
}

.header-contacts a {
    color: var(--white-text);
    text-decoration: none;
}

.header-contacts a:hover {
    text-decoration: underline;
}

.top-nav {
    display: flex;
    flex-direction: raw;
    align-items: center;
    background: var(--black-background);
    color: var(--white-text);
    height: 99px;
    font-weight: 700;
    font-size: 16px;
}

.logo-img {
    width: 168px;
    height: 39px;
    margin-left: 175px;
}

.top-menu {
    margin-left: 40px;
}

.top-menu a {
    color: var(--white-text);
    text-decoration: none;
    margin-left: 40px;
}

.top-menu a:hover {
    border-bottom: 3px solid var(--white-text);
}

.social-networks {
margin-left: 220px;
}

.social-networks img {
    width: 40px;
}

.main-page-h1 {
    background: var(--red-background);
    color: var(--white-text);
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.workout-word {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

/* Lilya CSS Tranding section*/

.tranding-section {
    background-image: url(../img/tranding-section-background.webp);
    height: 812px;
    font-family: 'Bebas Neue', cursive;
}

/* Andrii CSS section Manifest*/
.manifest {
    margin: 100px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 0 30px;
    height: 374px;
}
.manifest-header {
    font-size: 52px;
    font-family: 'Bebas Neue', cursive;
    color: #222323;
    padding-left: 40px;

}

.manifest-header span {
    color: #f40106;
}

.manifest-hr-divider {
    width: 5rem;
    border: 1px solid red;
}

.manifest-buy a {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #222323;
    font-size: 14px;
    text-decoration: none;
}

.manifest-buy a:hover {
    text-decoration: underline;
}

.new-arrival-img {
    background-image: url(../img/new_arrival.png);
    background-size: cover;
}

.trainers-img {
    background-image: url(../img/trainers.png);
    background-size: cover;
}

.hot-sale-img {
    background-image: url(../img/hot_sale.png);
    background-size: cover;
}

@media (max-width: 700px) {
    section.manifest {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    }
}

@media (max-width: 320px) {
    section.manifest {
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 15px;
    }
}

/* Lilya CSS Tranding section*/

.deal-of-the-month-section {
    background-color: #222323;
    color: rgb(224, 224, 224);
    height: 946px;
}

.uppercase-subheadings {
    text-transform: uppercase;
}

.crossed-out {
    text-decoration: line-through;
}

.store-link {
    color: #f40106;
    ;
}

.product-card-img {
    width: 427px;
    height: 427px;
}

.product-card-price {
    color: #717474
}

.product-description-tabs {
    text-transform: uppercase;
}

.product-list-price {
    color: #717474
}

.product-list-img {
    width: 270px;
    height: 270px;
}


/* Andrii section Get your discount*/
.discount-box p {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: rgba(255, 255, 255, 0.62);
}

.ready-man-img {
    margin: 0 auto;
    background-image: url(../img/run.png);
    background-size: 100% 100%;
    height: 800px;
}

.discount-header {
    font-size: 124px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

.discount-header span {
    color: #f40106;
}

.discount-box button {
    border: none;
    color: #222323;
    font-family: 'PT Sans', sans-serif;
    font-size: 16.5px;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.discount-box button:hover {
    background-color: #222323;
    color: white;
    transition-duration: 0.7s;
}