.top-header {
    background: rgb(233, 3, 3);
    color: rgb(224, 224, 224)
}
.bottom-header {
    background: #222323;
    color: rgb(224, 224, 224)
  }
  .logo-img {
    width: 168px;
    height: 39px;
  }
.tranding-section {
  background-image: url(/img/tranding-section-background.webp);
}

.manifest {
display: flex;
height: 500px;
flex-direction: row;
justify-content: center;
margin: 50px 80px;
}

.new_arrivals {
  flex-basis: 66%;
  padding: 5px 25px;
  margin-left: 0;
  margin-right: 50px;
  background-color: orange;
  background-image: url(img/new_arrival.png);
  background-size: cover;
}
.trainers {
  flex-basis: 33%;
  padding: 5px 25px;
  margin-right: 50px;
  background-image: url(https://github.com/koldovsky/610-team-4/blob/gh-pages/img/trainers.png);
  background-color: orange;
  background-size: cover;
}

.hot_sale {
  flex-basis: 33%;
  padding: 5px 25px;
  background-image: url(/img/hot_sale.png);
  background-color: orange;
  background-size: cover;
}

.deal-of-the-month-section {
  background-color: #222323;
  color: rgb(224, 224, 224)
}
.uppercase-subheadings {
  text-transform: uppercase;
}
.crossed-out{
  text-decoration: line-through ;
}
.store-link {
  color: #f40106;;
}
.product-card-img {
  width: 427px;
  height: 427px;
}
.product-card-price {
  color: #717474
}
.product-description-tabs {
  text-transform: uppercase;
}
.product-list-price {
  color: #717474
}
.product-list-img {
  width: 270px;
  height: 270px;
}
