.top-header {
    background: rgb(233, 3, 3);
    color: rgb(224, 224, 224)
}
.bottom-header {
    background: #222323;
    color: rgb(224, 224, 224)
  }
.tranding-section {
  background-image: url(/img/tranding-section-background.webp);
}
.deal-of-the-month-section {
  background-color: #222323;
  color: rgb(224, 224, 224)
}
.uppercase-subheadings {
  text-transform: uppercase;
}
.crossed-out{
  text-decoration: line-through ;
}
.store-link {
  color: #f40106;;
}
.product-card-img {
  width: 427px;
  height: 427px;
}
.product-card-price {
  color: #717474
}
.product-description-tabs {
  text-transform: uppercase;
}
  .img {
    width: 20%;
    height: 20%;
}