.top-header {
    background: rgb(233, 3, 3);
    color: rgb(224, 224, 224)
}
.bottom-header {
    background: #222323;
    color: rgb(224, 224, 224)
  }
.tranding-section {
  background-image: url(/img/tranding-section-background.webp);
  text-transform: uppercase;
}
.button {
  text-transform: capitalize;
}

  .img {
    width: 20%;
    height: 20%;
}